{% extends 'base.html.twig' %}

{% block title %}KAFOUDAL | Acceuil{% endblock %}

{% block body %}
    
    <!-- REVOLUTION SLIDER
    ================================================== -->
    <div class="rev_slider_wrapper fullscreen custom-controls custom-paragraph">
        <div id="rev_slider_2" class="rev_slider fullscreenbanner" style="display: none;" data-version="5.4.5">
            <ul>
                <li data-transition="parallaxtoright">

                    <!-- overlay -->
                    <div class="opacity-extra-medium bg-black z-index-1"></div>

                    <img src="img/slider/slide3.jpg" alt="slide1" class="rev-slidebg">

                    <!-- layer 1 -->
                    <div class="tp-caption tp-resizeme max-style alt-font" id="slide-1-layer-1" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['40','40','0','0']" data-voffset="['-100','-100','-100','-120']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">Be <span>inspired</span> by Best
                    </div>
                    <!-- end layer 1 -->

                    <!-- layer nr. 2 -->
                    <div class="tp-caption tp-resizeme slider-text" id="slide-1-layer-2" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['45','45','0','0']" data-voffset="['-20','-20','-20','-40']" data-fontsize="['18','20','20','20']" data-lineheight="['30','30','28','28']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-start="2500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; color: #fff; line-height: 22px;">
                        <p class="white-space px-3 px-md-0">Exhaustive technology of implementing Multipurpose projects is putting your project successful.</p>
                    </div>
                    <!-- layer nr. 3 -->
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['40','40','0','0']" data-voffset="['65','65','65','65']" data-fontsize="['14','14','14','14']" data-lineheight="['24','24','24','24']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; line-height: 22px;"><a href="#!" class="butn primary"><span>Buy Template</span></a>
                    </div>
                </li>
                <li data-transition="parallaxtoright">

                    <!-- overlay -->
                    <div class="opacity-extra-medium bg-black z-index-1"></div>

                    <img src="img/slider/slide1.jpg" alt="slide2" class="rev-slidebg">
                    <!-- layer 1 -->
                    <div class="tp-caption tp-resizeme max-style alt-font" id="slide-2-layer-1" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['0','0','0','0']" data-voffset="['-100','-100','-100','-120']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">We <span>Think</span> different
                    </div>
                    <!-- end layer 1 -->

                    <!-- layer nr. 2 -->
                    <div class="tp-caption tp-resizeme slider-text" id="slide-2-layer-2" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['0','0','0','0']" data-voffset="['-20','-20','-20','-40']" data-fontsize="['18','20','20','20']" data-lineheight="['30','30','28','28']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-start="2500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; color: #fff; text-align: center;">
                        <p class="white-space text-center px-3 px-md-0">Exhaustive technology of implementing Multipurpose projects is putting your project successful.</p>
                    </div>
                    <!-- layer nr. 3 -->
                    <div class="tp-caption tp-resizeme" id="slide-2-layer-3" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['0','0','0','0']" data-voffset="['65','65','65','65']" data-fontsize="['18','18','14','14']" data-lineheight="['26','26','22','22']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; line-height: 22px;"><a href="#!" class="butn primary"><span>Buy Template</span></a>
                    </div>
                </li>
                <li data-transition="parallaxtoright">

                    <!-- overlay -->
                    <div class="opacity-extra-medium bg-black z-index-1"></div>

                    <img src="img/slider/slide7.jpg" alt="slide3" class="rev-slidebg">

                    <!-- layer 1 -->
                    <div class="tp-caption tp-resizeme max-style alt-font" id="slide-3-layer-1" data-x="['right','right','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['40','40','0','0']" data-voffset="['-100','-100','-100','-120']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap; color: #fff; font-weight: 700; text-transform: uppercase;">We Build <span>Solution</span>
                    </div>
                    <!-- end layer 1 -->

                    <!-- layer nr. 2 -->
                    <div class="tp-caption tp-resizeme slider-text" id="slide-3-layer-2" data-x="['right','right','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['45','45','0','0']" data-voffset="['-20','-20','-20','-40']" data-fontsize="['18','20','20','20']" data-lineheight="['30','30','28','28']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-start="2500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; color: #fff; line-height: 22px; text-align: right;">
                        <p class="white-space text-end px-3 px-md-0">Exhaustive technology of implementing Multipurpose projects is putting your project successful.</p>
                    </div>
                    <!-- layer nr. 3 -->
                    <div class="tp-caption tp-resizeme" id="slide-3-layer-3" data-x="['right','right','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['40','40','0','0']" data-voffset="['65','65','65','65']" data-fontsize="['18','18','14','14']" data-lineheight="['26','26','22','22']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; line-height: 22px;"><a href="#!" class="butn primary"><span>Buy Template</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="page-title-section bg-img cover-background h-15" data-overlay-dark="7" data-background=" {{ asset('img/bg/bg5.jpg') }} ">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h1>Flash info</h1>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12 col-sm-12">
                    <marquee behavior="" direction="">
                        <h5 class="text-white">Shop Product List</h5>
                    </marquee>
                    
                </div> 
            </div> 
        </div>
    </section>

    <section class="box-hover">
        <div class="container">

            <div class="section-heading">
                <h2>What We Do</h2>
            </div>

            <div class="position-relative">
                <div class="services-grids owl-carousel">

                    <!-- feature box item-->
                    <div class="bg-white border border-color-light-black p-4 feature-box-08">
                        <div class="col-md-12 col-sm-12 p-0 mb-3 mb-md-4 alt-font">
                            <i class="text-primary ti-world display-18"></i>
                            <h3 class="display-28 mb-0 mt-2 w-100 text-extra-dark-gray font-weight-600">Investment<br>planning & strategy</h3>
                        </div>
                        <p class="w-95">International business consulting pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem apenventore veritatis architecto.</p>
                        <div class="border-top border-color-light-black pt-3">
                            <a href="{{ path('article_home') }}" class="font-weight-700">read more...</a>
                        </div>
                        <div class="show-details">
                            <img src="img/content/feature-04.jpg" alt="...">
                            <div class="feature-box-detail p-1-9">
                                <div class="border border-color-light-white h-100 p-4">
                                    <h4 class="display-28 mb-2 w-100 text-primary font-weight-600">Investment <br /> planning & strategy</h4>
                                    <ul class="list-style-13 text-white">
                                        <li>Financial services</li>
                                        <li>Investment plan</li>
                                        <li>Blend of energy</li>
                                        <li>Business strategy</li>
                                    </ul>
                                    <a href="#!" class="font-weight-700 text-primary mt-3 d-inline-block">read more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->

                    <!-- feature box item-->
                    <div class="bg-white border border-color-light-black p-4 feature-box-08">
                        <div class="col-md-12 col-sm-12 p-0 mb-3 mb-md-4 alt-font">
                            <i class="text-primary ti-panel display-18"></i>
                            <h3 class="display-28 mb-0 mt-2 w-100 text-extra-dark-gray font-weight-600">International<br> business opportunities</h3>
                        </div>
                        <p class="w-95">Consulting international business pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem apenventore veritatis architecto.</p>
                        <div class="border-top border-color-light-black pt-3">
                            <a href="{{ path('article_home') }}" class="font-weight-700">read more...</a>
                        </div>
                        <div class="show-details">
                            <img src="img/content/feature-05.jpg" alt="...">
                            <div class="feature-box-detail p-1-9">
                                <div class="border border-color-light-white h-100 p-4">
                                    <h4 class="display-28 mb-2 w-100 text-primary font-weight-600">International <br /> business opportunities</h4>
                                    <ul class="list-style-13 text-white">
                                        <li>Investment plan</li>
                                        <li>Financial services</li>
                                        <li>Business strategy</li>
                                        <li>Blend of energy</li>
                                    </ul>
                                    <a href="{{ path('article_home') }}" class="font-weight-700 text-primary mt-3 d-inline-block">read more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->

                    <!-- feature box item-->
                    <div class="bg-white border border-color-light-black p-4 feature-box-08">
                        <div class="col-md-12 col-sm-12 p-0 mb-3 mb-md-4 alt-font">
                            <i class="text-primary ti-anchor display-18"></i>
                            <h3 class="display-28 mb-0 mt-2 w-100 text-extra-dark-gray font-weight-600">Approach<br> strategic & commercial</h3>
                        </div>
                        <p class="w-95">Business consulting international pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem apenventore veritatis architecto.</p>
                        <div class="border-top border-color-light-black pt-3">
                            <a href="{{ path('article_home') }}" class="font-weight-700">read more...</a>
                        </div>
                        <div class="show-details">
                            <img src="img/content/feature-06.jpg" alt="...">
                            <div class="feature-box-detail p-1-9">
                                <div class="border border-color-light-white h-100 p-4">
                                    <h4 class="display-28 mb-2 w-100 text-primary font-weight-600">Approach <br /> strategic & commercial</h4>
                                    <ul class="list-style-13 text-white">
                                        <li>Business strategy</li>
                                        <li>Investment plan</li>
                                        <li>Financial services</li>
                                        <li>Blend of energy</li>
                                    </ul>
                                    <a href="{{ path('article_home') }}" class="font-weight-700 text-primary mt-3 d-inline-block">read more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->

                </div>  
            </div>
        </div>
    </section> 
     <!-- BLOG
        ================================================== -->
        <section class="bg-light">
            <div class="container">
                <div class="section-heading">
                    <h2>Latest Consulting News</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="feature-box-01">
                            <article class="blog-grid-simple h-100">
                                <h3><a href=" {{ path('article_home') }} ">Eric</a></h3>
                                <p>abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-grid-simple-content px-0">
                                    <div class="row">
                                        <div class="blog-grid-simple-date">
                                            <div class="w-50 float-start"><i class="fas fa-calendar-alt"></i>
                                                <h5>March 11, 2022</h5>
                                            </div>
                                            <div class="w-50 float-end text-end"><a href="{{ path('article_home') }} ">Read Article</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="feature-box-01">
                            <article class="blog-grid-simple h-100">
                                <h3><a href="{{ path('article_home') }}">Investment High Quality Services</a></h3>
                                <p>abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-grid-simple-content px-0">
                                    <div class="row">
                                        <div class="blog-grid-simple-date">
                                            <div class="w-50 float-start"><i class="fas fa-calendar-alt"></i>
                                                <h5>May 02, 2022</h5>
                                            </div>
                                            <div class="w-50 float-end text-end"><a href="{{ path('article_home') }}">Read Article</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="feature-box-01">
                            <article class="blog-grid-simple h-100">
                                <h3><a href="{{ path('article_home') }}">Financial High Quality Services</a></h3>
                                <p>abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-grid-simple-content px-0">
                                    <div class="row">
                                        <div class="blog-grid-simple-date">
                                            <div class="w-50 float-start"><i class="fas fa-calendar-alt"></i>
                                                <h5>Feb 20, 2022</h5>
                                            </div>
                                            <div class="w-50 float-end text-end"><a href="{{ path('article_home') }}">Read Article</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="feature-box-01">
                            <article class="blog-grid-simple h-100">
                                <h3><a href="{{ path('article_home') }}">Business High Quality Services</a></h3>
                                <p>abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-grid-simple-content px-0">
                                    <div class="row">
                                        <div class="blog-grid-simple-date">
                                            <div class="w-50 float-start"><i class="fas fa-calendar-alt"></i>
                                                <h5>Feb 14, 2022</h5>
                                            </div>
                                            <div class="w-50 float-end text-end"><a href="{{ path('article_home') }}">Read Article</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="feature-box-01">
                            <article class="blog-grid-simple h-100">
                                <h3><a href="{{ path('article_home') }}">Financial High Quality Services</a></h3>
                                <p>abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-grid-simple-content px-0">
                                    <div class="row">
                                        <div class="blog-grid-simple-date">
                                            <div class="w-50 float-start"><i class="fas fa-calendar-alt"></i>
                                                <h5>Feb 20, 2022</h5>
                                            </div>
                                            <div class="w-50 float-end text-end"><a href="{{ path('article_home') }}">Read Article</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="feature-box-01">
                            <article class="blog-grid-simple h-100">
                                <h3><a href="{{ path('article_home') }}">Investment High Quality Services</a></h3>
                                <p>abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-grid-simple-content px-0">
                                    <div class="row">
                                        <div class="blog-grid-simple-date">
                                            <div class="w-50 float-start"><i class="fas fa-calendar-alt"></i>
                                                <h5>Feb 14, 2022</h5>
                                            </div>
                                            <div class="w-50 float-end text-end"><a href="{{ path('article_home') }}">Read Article</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
