<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="BROU YAO ERIC" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="KAFOUDAL" />
	<meta name="keywords" content="KAFOUDAL" /> 
    <meta charset="UTF-8">
    <title>{% block title %}KAFOUDAL - Admin{% endblock %}</title>
     <!-- favicon -->
     <link rel="shortcut icon" href="{{ asset('admin/img/logos/favicon.png') }}">
     <link rel="apple-touch-icon" href="{{ asset('admin/img/logos/apple-touch-icon-57x57.png') }}">
     <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('admin/img/logos/apple-touch-icon-72x72.png') }}">
     <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('admin/img/logos/apple-touch-icon-114x114.png') }}">
 
     <!-- common plugins -->
     <link rel="stylesheet" href="{{ asset('admin/plugins/bootstrap/css/bootstrap.min.css') }}" />
     <link rel="stylesheet" href="{{ asset('admin/plugins/font-awesome/css/font-awesome.min.css') }}" />
     <link rel="stylesheet" href="{{ asset('admin/plugins/icomoon/style.css') }}" />
     <link rel="stylesheet" href="{{ asset('admin/plugins/uniform/css/default.css') }}" />
     <link rel="stylesheet" href="{{ asset('admin/plugins/switchery/switchery.min.css') }}" />
 
     <!-- nvd3 plugin -->
     <link rel="stylesheet" href="{{ asset('admin/plugins/nvd3/nv.d3.min.css') }}" />
 
     <!-- theme core css -->
     <link rel="stylesheet" href="{{ asset('admin/css/styles.css') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>  
<body> 
    <div id="preloader"></div>
    <div class="page-container">
        <!-- PAGE SIDEBAR ================================================== -->
        {% include "admin/layouts/_sidebar.html.twig" %}
        {% block body %} 

        {% endblock %}
    </div>
    <!-- jQuery -->
    <script src="{{ asset('admin/plugins/jquery/jquery-3.1.0.min.js') }}"></script>

    <!-- bootstrap -->
    <script src="{{ asset('admin/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- slimscroll -->
    <script src="{{ asset('admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- uniform -->
    <script src="{{ asset('admin/plugins/uniform/js/jquery.uniform.standalone.js') }}"></script>

    <!-- switchery -->
    <script src="{{ asset('admin/plugins/switchery/switchery.min.js') }}"></script>

    <!-- chartjs -->
    <script src='{{ asset('admin/plugins/chartjs/chart.min.js') }}'></script>

    <!-- d3.min -->
    <script src="{{ asset('admin/plugins/d3/d3.min.js') }}"></script>

    <!-- nv.d3.min -->
    <script src="{{ asset('admin/plugins/nvd3/nv.d3.min.js') }}"></script>

    <!-- float chart -->
    <script src="{{ asset('admin/plugins/flot/jquery.flot.min.js') }}"></script>

    <!-- float time -->
    <script src="{{ asset('admin/plugins/flot/jquery.flot.time.min.js') }}"></script>

    <!-- float symbol -->
    <script src="{{ asset('admin/plugins/flot/jquery.flot.symbol.min.js') }}"></script>

    <!-- float resize -->
    <script src="{{ asset('admin/plugins/flot/jquery.flot.resize.min.js') }}"></script>

    <!-- float tooltip -->
    <script src="{{ asset('admin/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>

    <!-- float pie -->
    <script src="{{ asset('admin/plugins/flot/jquery.flot.pie.min.js') }}"></script>

    <!-- float pie -->
    <script src="{{ asset('admin/js/pages/dashboard.js') }}"></script>

    <!-- theme core scripts -->
    <script src="{{ asset('admin/js/main.js') }}"></script>

    <!-- all js include end -->
</body> 
</html>
